{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Promise": true,
    "describe": true,
    "it": true,
    "expect": true
  },
  "plugins": ["eslint-plugin-import", "@typescript-eslint", "import", "jest"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": ["./", "node_modules"]
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "comma-spacing": [1, { "before": false, "after": true }],
    "eol-last": 1,
    "import/extensions": 1,
    "import/order": ["warn", { "groups": ["builtin", "external", "internal", "parent", "sibling", "index"] }],
    "import/no-unresolved": ["error", { "commonjs": true, "caseSensitive": true }],
    "indent": ["warn", 2],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-namespace": ["error", { "allowDeclarations": true }],
    "@typescript-eslint/no-empty-interface": ["error", { "allowSingleExtends": true }],
    "key-spacing": 1,
    "no-multi-spaces": 1,
    "keyword-spacing": 1,
    "no-unused-vars": 0,
    "no-trailing-spaces": 1,
    "object-curly-spacing": [1, "always"],
    "quotes": ["warn", "single", { "avoidEscape": true }]
  },
  "overrides": [
    {
      "files": "src/matchers/*/index.ts",
      "rules": {
        "import/no-default-export": "error"
      }
    },
    {
      "files": "test/**/*.ts",
      "rules": {
        "@typescript-eslint/no-empty-function": ["off"]
      }
    }
  ]
}
