name: 'GitHub CI'
on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

jobs:
  test-node:
    name: Test on Node.js v${{ matrix.node-version }} and vitest v${{ matrix.vitest-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x, 18.x, 19.x, 20.x]
        vitest-version: [0.32, 0.33, 0.34]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: install with vitest@${{ matrix.vitest-version }}
        run: yarn add --dev vitest@${{ matrix.vitest-version }}
      - run: yarn test:coverage
      - uses: codecov/codecov-action@v3
        if: ${{ always() }}

  test-os:
    name: Test on ${{ matrix.os }} using Node.js LTS
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: yarn
      - run: yarn install
      - run: yarn test:coverage
      - uses: codecov/codecov-action@v3
        if: ${{ always() }}

  lint:
    name: Run ESLint & TypeScript compiler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: yarn
      - run: yarn install
      - run: yarn build
      - run: yarn lint
      - run: yarn typecheck
  release:
    name: Run publish action
    if: ${{ github.event_name == 'push' && (github.event.ref == 'refs/heads/main' || github.event.ref == 'refs/heads/next') }}
    needs: [lint, test-node, test-os]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: yarn

      - name: Install Dependencies
        run: yarn

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: yarn changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
