name: 'GitHub CI'
on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

jobs:
  test-node:
    name: Test on Node.js v${{ matrix.node-version }} and jest v${{ matrix.jest-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x, 23.x]
        jest-version: [27, 28, 29]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: threeal/setup-yarn-action@v2.0.0
        with:
          version: berry
          cache: true
      - name: install
        run: yarn install --immutable
      - name: install with jest@${{ matrix.jest-version }}
        run: yarn add --dev jest@${{ matrix.jest-version }} ts-jest@${{ matrix.jest-version }} @types/jest@${{ matrix.jest-version }}
      - run: yarn test:coverage
      - uses: codecov/codecov-action@v5
        if: ${{ always() }}

  test-os:
    name: Test on ${{ matrix.os }} using Node.js LTS
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: threeal/setup-yarn-action@v2.0.0
        with:
          version: berry
          cache: true
      - run: yarn install --immutable
      - run: yarn test:coverage
      - uses: codecov/codecov-action@v5
        if: ${{ always() }}

  lint:
    name: Run ESLint & TypeScript compiler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: threeal/setup-yarn-action@v2.0.0
        with:
          version: berry
          cache: true
      - run: yarn install --immutable
      - run: yarn build
      - run: yarn lint
      - run: yarn typecheck
      - run: |
          js_files=$(find src test -type f -name '*.js')
          if [ -n "$js_files" ]; then
            echo "::error::Found disallowed .js files. Please convert them to .ts:"
            echo "$js_files"
            exit 1
          else
            echo "No disallowed .js files found in src/ or test/. Check passed."
          fi
  release:
    name: Run publish action
    if: ${{ github.event_name == 'push' && (github.event.ref == 'refs/heads/main' || github.event.ref == 'refs/heads/next') }}
    needs: [lint, test-node, test-os]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - uses: threeal/setup-yarn-action@v2.0.0
        with:
          version: berry
          cache: true

      - name: install
        run: yarn install --immutable

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: yarn changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
